Repository rich10-blackvaultx/CBA-FrontEnd: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

更新gitgnore
  .gitignore
Due: none

页面优化
  app/[locale]/bases/page.tsx
  app/[locale]/community/page.tsx
  app/[locale]/jobs/page.tsx
  app/api/_data/community/contrib.json
  components/layout/NavbarIntl.tsx
  components/sections/HomeHero.tsx
  components/shared/FilterBar.tsx
  i18n/en.json
  i18n/zh.json
Due: eslint --fix, prettier --write

短暂的优化
  app/[locale]/me/page.tsx
  components/layout/Footer.tsx
  i18n/en.json
  i18n/ext.en.json
  i18n/ext.zh.json
  i18n/zh.json
Due: eslint --fix, prettier --write

修改job页面
  app/[locale]/jobs/page.tsx
  app/api/_data/jobs.json
  components/layout/NavbarIntl.tsx
  i18n/en.json
  i18n/ext.en.json
  i18n/zh.json
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

新增登录
  .env.example
  app/[locale]/jobs/page.tsx
  app/api/_data/auth-logins.json
  app/api/auth/wechat/callback/route.ts
  app/api/auth/wechat/create/route.ts
  app/api/auth/wechat/status/route.ts
  components/layout/LoginButton.tsx
  components/layout/NavbarIntl.tsx
  components/shared/Modal.tsx
  i18n/en.json
  i18n/zh.json
  stores/useAuthStore.ts
  styles/theme.css
Due: eslint --fix, prettier --write

更新base接口
  app/[locale]/bases/page.tsx
  app/[locale]/page.tsx
  app/api/_data/auth-logins.json
  components/layout/NavbarIntl.tsx
  i18n/zh.json
  next.config.js
Due: eslint --fix, prettier --write

邮件登录+注册、基地首页对接
  app/[locale]/auth/login/page.tsx
  app/[locale]/auth/register/page.tsx
  app/[locale]/bases/[slug]/page.tsx
  app/[locale]/bases/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/api/_data/auth-logins.json
  app/api/_data/sessions.json
  app/api/_data/users.json
  app/api/auth/email/login/route.ts
  app/api/auth/email/register/route.ts
  app/api/auth/logout/route.ts
  app/api/auth/me/route.ts
  app/api/auth/oauth/[provider]/callback/route.ts
  app/api/auth/oauth/[provider]/create/route.ts
  app/api/auth/oauth/[provider]/status/route.ts
  app/api/auth/wallet/nonce/route.ts
  app/api/auth/wallet/verify/route.ts
  app/api/bases/[slug]/route.ts
  app/api/community/[id]/route.ts
  app/api/community/groups/[id]/route.ts
  app/api/nodes/[id]/route.ts
  components/cards/BaseCard.tsx
  components/layout/LoginButton.tsx
  components/providers/ToastProvider.tsx
  components/sections/HomeHero.tsx
  next.config.js
  services/bases.ts
  stores/useAuthStore.ts
  styles/theme.css
  tsconfig.tsbuildinfo
  types/base.ts
Due: eslint --fix, prettier --write

google登录测试
  app/[locale]/auth/login/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{js,json,css,md}
